.container{
	border-style:solid;
	border-color: black;
	display: flex;
	justify-content:space-around;

	/*
	space-between
	center
	flex-end
	flex-start
	*/
}

h1{
	border-style: solid;

}