/*
Termina sección general 
*/
body {
	background-color: #CF8778;
	height: 100%;
	margin: 0;
	padding: 0;
}
/*
Termina sección general 
*/

h1 {
	color: 40A42C;	

	text-align: center;
	padding-top:10 px;
	font-family:'Raleway', sans-serif;
}
header{
	background-color: #004080;
	margin:0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	text-align:center;
	font-family: 'Muli', sans-serif;
}
ul{
	list-style: none !important;
}

nav a,footer a {
	display: inline-block;
	width: 130px;
	height: 20px;
	text-decoration:none;
	background-color: #0A0A2A;
	color: white; 
}

li:hover a {
	background-color: rgb(128,128,0);
}

footer{
	font-family: 'Raleway', sans-serif;
	height: 120px;
	background-color: grey; 
}
.active{
	background-color: #CCC;
	color:black;
	font-weight: bold;

}


h2 {
	text-align: center;
	padding-top: 20px;
}

.informacion-personal {
	text-align: center;
	width: 45%;
}

#imagenIndex {
	width: 50%;
}
.Justificada{
	text-align: justify;
}
#Premios{
	width: auto;
	margin-left: 15%;
	margin-bottom: 15px;
}
table, th, td {
	border:2px,solid,rgb(28,58,64) ;
	padding: 0,15px;
	border-collapse: collapse;
}

.celdaImagen {
	width: 200px;
	height: auto;
	text-align: center;
	border-left-style: hidden;
}

td img {
	width: 90%;
	padding:5px;
}
tfoot{
	font-size: 25px;
	text-align:center;
}
.nice{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}