.container{
	width: 750px;
	margin: auto;
}
li{
	float: left;
	list-style: none;
	width: 180px;
	height: 180px;
	text-align: center;
	font-size:50px;
	font-weight: bold;
	background-color: #811AC8;
	margin-right: 20px;
	margin-bottom: 20px;
	line-height: 180px;
}
ul>li {
	border-radius: 50%;
}
h3+h3{
	color: red;
}



/*********************************************/
#contenido{
	width: 80%;
	margin:20px;
	background: #fff;
	padding: 20px;
}
a[rel]{
	background-color: #40A42C;
	color: #95EF83;
	display:block;
	margin:2px;
}
a[rel="externo"]{ /*valor exacto*/
	background-color: #648C29;
	color: #95EF83;
	display:block;
	margin:2px;

}

[title~=|"titulo"]{
	backround:pink;
	border:10px dashed;
}
a[href^=https://]{

	background: cyan;
	border-left-style: 5px, solid;
	display: inline-block;
}

/*Selector termina con y contiene jorge.sanson.proteco@gmail.com*/